<% include ../partials/header %>
<div class="row">
  <h1>    Welcome to the Edit Athletes Page<br><br></h1>
  <div class="grid-container">
     <% res.forEach(function(indOne) { %>   
              <form accept-charset="UTF-8" id="uploadform" ref="uploadform" action="/editathletes/<%= indOne.id %>" method="post" enctype="multipart/form-data">
                <div class="item">
                  
                  <label for="name">Name</label>
                  <input name="name" type="text" value="<%= indOne.name %>" />
                    
                    <label for="name">Sport</label> 
                    <input name="sport" type="text"  value="<%= indOne.sport %>" />
                    
                    <label for="country">Country</label> 
                    <input name="country" type="text"  value="<%= indOne.country %>" /><br>
                    
                    <label for="name">Date of birth</label>
                    <input name="dob" type="text" value="<%= indOne.dob %>" />
                    
                     <label for="image">Image:</label>
                     <input class="button" type="file" name="sampleFile" required/><br>
            
                    <button class="button">Confirm change</button>
                   </div>
        </form>
    <% }); %>
</div>
</div>
<% include ../partials/footer %>
